<div class="container">
  <h1>Result</h1>
  <div><%= raw @result %></div>
  <%= link_to new_path do %>
    <div class="btn-container">
      <span class='pulse-button'>Again</span>
    </div>
  <% end %>
</div>
